@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,600&display=swap');

#profile-settings {
    border-bottom: 1px solid #ccc;
    display: flex;
}

#profile-settings li {
    display: inline-block;
}

#profile-settings a {
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 1rem;
    transition: linear 0.7s;
}

#profile-settings a:hover {
    cursor: pointer;
    background-color: rgba(0, 0,0, 0.1);
}



