@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,600&display=swap');

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#logo {
    width: 100%;
    height: 10rem;
    display: inline;
}

#feed-container {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
    justify-content: center;
}

#search-container {
    background-color: #262626;
    opacity: 0.1;
    margin: auto;
    border-radius: 0.3rem;
    width: 90%;
}

#search-container input {
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 5vh;
    padding: 1.1rem;
}

::placeholder {
    color: white;
    /*Não tô conseguindo deixar preto ainda*/
}

#ul {
    list-style: none;
}

.nav-link {
    display: inline-block;
}

@media (min-width: 600px) and (max-width: 1280px) {
    #search-container {
        height: 5vh;
    }
    #search-container button {
        margin: 0;
        width: 15%;
        background: transparent;
        border: transparent;
    }
    #profile-settings {
        display: none;
    }
    #feed-container {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        max-width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    #search-container button {
        margin: 0;
        width: 15%;
        background: transparent;
        border: transparent;
    }
    #profile-settings {
        display: none;
    }
    #feed-container {
        width: 100%;
        margin-top: 1rem;
    }
    #ul {
        display: none;
    }
}