.main-container{
    margin: 5% auto;
    max-width: 90%;
}

legend{
    font-size: 1.3rem;
}
#form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    padding: 1rem;
    margin: auto;
    align-items: center;
}

.form-content{
    width: 80%;
    margin: 0.3rem;
}

input.form-content{
    height: 2.3rem;
    border-radius: 0.5rem;
    border-color: transparent  transparent black;
    background-color: #A6A6A6;
    opacity: 15%;
    margin-bottom: 3%;
}

#submit{
    margin: 2rem 0 0 0;
    width: 20vh;
    height: 5vh;
    border-radius: 0.3rem;
    border:transparent;
    background-color: #0D0D0D;
    color: white;
}


@media screen and (min-width: 1200px){
    .form-content{
        width: 60%;
    }
    #form-container{
        margin-top: 3%;
    }
    input.form-content{
        height: 3rem;
        border-radius: 0.5rem;
        margin-top: 1%;
    }
}