  main{
    background-color: #f2f2f2;
    box-sizing: border-box;
    margin: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width: 100%;
  }
  
  .form-content{
    display: inline-block;
    margin: 0.7rem 0;
    text-align: left;
}

  .title{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .title input {
    color: #0D0D0D;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    background-color:transparent;
    text-align: center;
    border: 0;
    
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
    margin-left: 5px;
  }
  
  .image {
    margin-top: 40px;
    margin-left: 5px;
  }
  
  .description{
    height: auto;
  }
  .content-textarea{
    width: 100%;
    text-align: center;
  }
  .description textarea{
      margin-top: 10px;
      border-radius: 5px;
      border: 1px solid #0D0D0D;
      box-sizing: border-box;
      font-size: 12px;
      height: 10vh;
      outline: 0;
      width: 80%;
      resize: none;
  }

  .tag{
    height: auto;
  }
  .tag #tag-labels{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  

  .price{
      font-size: 30px;
      width: 90%;
      display: flex;
      justify-content: center ;
      margin-top: 1em;

  }

  .price input{
    width: 10%;
    height: 70%;
    margin: 3vh 0 0 2vh;
    font-size: 28px;
    font-weight: 600;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #0D0D0D;
    text-align: center;
  }

  #button-container{
    margin-top: 5vh;
  }
  
  #button-container .submit{
    margin-left: 2vh;
  }

  .submit:active {
    background-color: #494747;
  }
  
  a, u {
    text-decoration: none;
    color: inherit; 
}