body {
    align-items: center;
    background-color: #494747;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  main{
    background-color: #f2f2f2;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid #0D0D0D ;
    height: 100%;
    padding: 20px;
    width: 100%;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;

  }
  
  .form-content{
    display: inline-block;
    margin: 0.7rem 0;
    color: #0D0D0D;
    text-align: center;
}

  .title{
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .title input {
    color: #0D0D0D;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    background-color:transparent;
    text-align: center;
    border: 0;
    
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
    margin-left: 5px;
  }
  
  .image {
    margin-top: 40px;
    margin-left: 5px;
  }
  
  .description{
    height: auto;
  }
  .description textarea{
      margin-top: 10px;
      margin-left: 5%;
      border-radius: 5px;
      border: 1px solid #0D0D0D;
      box-sizing: border-box;
      font-size: 12px;
      height: 60px;
      outline: 0;
      width: 90%;
      resize: none;
  }

  .tag{
    height: auto;
  }
  .tag #tag-labels{
    display: flex;
    justify-content: space-around;
  }
  

  .price{
      font-size: 30px;
      width: 90%;
      display: flex;
      justify-content: center ;
      margin-top: 1em;

  }

  .price input{
    width: 20%;
    height: 70%;
    font-size: 28px;
    font-weight: 600;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #0D0D0D;
    text-align: center;
  }

  #button-container{
    display: flex;
    justify-content: space-between;
  }

  #button-container button:first-child{
    justify-self: flex-end;
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid #0D0D0D;
    box-sizing: border-box;
    color: #0D0D0D;
    cursor: pointer;
    font-size: 16px;
    justify-self: center ;
    margin-top: 20px;
    outline: 0;
    text-align: center;
    padding: 0.5em 1em;
  }

  .submit {
    background-color: #0D0D0D;
    border-radius: 12px;
    border: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 16px;
    justify-self: center ;
    margin-top: 20px;
    outline: 0;
    text-align: center;
    padding: 0.5em 1em;
  }
  
  .submit:active {
    background-color: #494747;
  }
  
  a, u {
    text-decoration: none;
    color: inherit; 
}